.root {
  padding: 20rpx;
  display: flex;
  align-items: center;
  gap: 20rpx;

  .img {
    border-radius: 10rpx;
    overflow: hidden;
  }

  .content {
    flex: 1;

    .title {
      font-size: var(--nutui-font-text);
      font-weight: bolder;
    }

    .desc {
      font-size: var(--nutui-font-text-small);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      /* 限制最多显示 2 行 */
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .other {
      font-size: var(--nutui-font-text-small);
      color: green;
    }
  }

  .button {
    width: 150rpx;
  }
}