.root{
    padding: 20rpx;

    .img{
        
    }
    // .grid{
    //     nutui-grid-border-color: var(--app-primary-color);
    // }
    .three {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    .left {
      flex: 1;
      width: 100rpx; /* 可以调整宽度 */
      text-align: center;
    }
    
    .middle {
      flex: 3;
      width: 300rpx; /* 可以调整宽度 */
      padding: 20rpx;
    }
    
    .right {
      flex: 1;
      width: 100rpx; /* 可以调整宽度 */
      text-align: center;
    }
}