.root {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--app-page-background);

    .content {
        display: flex;
        flex-direction: column;
        padding: 20rpx;
        gap: 20rpx;

        &.full {
            padding: unset;
            gap: unset;
        }
    }
}