.root {
    .card {
        margin: 20rpx;
        border-radius: 20rpx;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .cardInfo {
            background: var(--app-primary-color);
            color: var(--app-text-color-primary);
            padding: 40rpx;

            .avatar_name {
                display: flex;
                align-items: center;
                gap: 20rpx;

                .avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .name {
                    display: flex;
                    flex-direction: column;
                    gap: 10rpx;
                    justify-content: center;

                    .nameText {
                        font-size: var(--nutui-font-text-large);
                        font-weight: bolder;
                    }

                    .position {
                        opacity: 0.9;
                        font-size: var(--nutui-font-text-small);
                    }
                }
            }

            .company {
                margin: 30rpx 0;
                font-size: var(--nutui-font-text-large);
                font-weight: bolder;
            }

            .moreInfo {
                display: flex;
                flex-direction: column;
                gap: 15rpx;
                font-size: var(--nutui-font-text-small);
                opacity: 0.9;

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:active {
                        opacity: 0.7;
                    }

                    .left {
                        display: flex;
                        align-items: center;
                        gap: 20rpx;

                        .title {
                            font-size: var(--nutui-font-text-small);
                            line-height: var(--nutui-font-text-small);
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;
                        gap: 5rpx;
                        opacity: 0.7;

                        .extra {
                            font-size: var(--nutui-font-text-small);
                            line-height: var(--nutui-font-text-small);
                        }
                    }
                }
            }
        }

        .otherInfo {
            padding: 40rpx;
            background: var(--app-card-background);
            color: var(--app-text-color);
            display: flex;
            flex-direction: column;
            gap: 40rpx;

            .item {
                display: flex;
                gap: 20rpx;

                .describe {
                    flex: 1;
                    font-size: var(--nutui-font-text);
                    line-height: var(--nutui-font-text);
                }
            }
        }
    }

    .operate {
        margin: 20rpx;
        border-radius: 20rpx;
        height: 100rpx;
        background: var(--app-card-background);
        display: flex;
        align-items: center;
        justify-content: space-around;

        .operateItem {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rpx;
            border-right: 1px solid var(--nutui-color-border);
            font-size: var(--nutui-font-text-small);
            color: var(--app-text-color);
            font-weight: bolder;

            &:last-child {
                border-right: none;
            }

            &:active {
                opacity: 0.5;
            }

            &.disableClick {
                opacity: unset;
            }

            &.collect {
                color: var(--nutui-orange-6);
            }

            &.like {
                color: var(--nutui-red-8);
            }

            .value {
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10rpx;
                font-size: var(--nutui-font-text);

                .valueText {
                    font-size: var(--nutui-font-text);
                    line-height: var(--nutui-font-text);
                }
            }
        }
    }
}