.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rpx;

    .button {
        margin-top: 20rpx;
        width: 70%;
        border-radius: 20rpx;
        font-size: 32rpx;
    }
}