.root {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--nutui-color-title);
    position: fixed;
    top: 0;

    .body {
        width: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        position: relative;

        .back {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}