.root {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--nutui-color-title);
    position: fixed;
    top: 0;

    .topBg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 800rpx;
        background: linear-gradient(0deg, transparent, var(--nutui-color-primary));

        .bg {
            margin: 10% 20%;
            width: 90%;
            height: 80%;
            background: linear-gradient(180deg, var(--nutui-color-primary), transparent);
            border-radius: 88% 0;
        }
    }

    .body {
        width: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        position: relative;

        .back {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}