.root {
    :global(.nut-noticebar-vertical) {
        border-radius: 20rpx;
    }

    .text {
        width: 520rpx;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}