.root {
    :global(.nut-noticebar-vertical) {
        border-radius: 20rpx;
        background: transparent;
        padding: 0;
    }

    .text {
        width: 560rpx;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}