.root {
    --nutui-divider-margin: 10rpx 0;

    padding: 20rpx;
    border-radius: 20rpx;
    box-shadow: 0 0 20rpx 5rpx rgba(0, 0, 0, 0.1);


    .title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--nutui-font-text-large);
    }

    .time {
        padding-top: 10rpx;
        font-size: var(--nutui-font-text-small);
        color: var(--app-text-color);
    }

    .button {
        font-size: var(--nutui-font-text-small);
        color: var(--app-text-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}