.root {
    position: fixed;
    right: 20rpx;
    bottom: 180rpx;
    background: #00000040;
    width: 80rpx;
    height: 80rpx;
    border-radius: 999rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}