:root,
page {
    --nutui-form-item-error-line-color: var(--nutui-color-danger);
    --nutui-form-item-required-color: var(--nutui-color-danger);
    --nutui-form-item-error-message-color: var(--nutui-color-danger);
    --nutui-cell-title-color: var(--nutui-color-title);
    --nutui-input-color: var(--nutui-color-title);
    --nutui-form-item-label-font-size: var(--nutui-font-size-5);
    --nutui-form-item-body-font-size: var(--nutui-font-size-5);
    --nutui-form-item-tip-font-size: var(--nutui-font-size-4);
    --nutui-input-font-size: var(--nutui-font-size-5);
    --nutui-textarea-font: var(--nutui-font-size-5);
    --nutui-textarea-text-color: var(--nutui-color-title);

    background: var(--nutui-gray-2);
    --app-primary-color: var(--nutui-color-primary);
    --app-background: var(--nutui-gray-2);
    --app-card-background: var(--nutui-color-primary-text);
    --app-radius: var(--nutui-radius-base);
    --app-text-color: var(--nutui-color-text);
    --app-text-color-primary: var(--nutui-color-primary-text);
    --app-danger-color: var(--nutui-color-danger);

    //上传
    --nutui-uploader-image-width: 160rpx;
    --nutui-uploader-image-height: 160rpx;
    --nutui-uploader-image-border-radius: 16rpx;
    --nutui-uploader-image-icon-tip-font-size: 24rpx;
    --nutui-uploader-image-color: var(--app-text-color);

    //头像
    --nutui-avatar-square: 16rpx;
    --nutui-avatar-large-width: 120rpx;
    --nutui-avatar-large-height: 120rpx;
    --nutui-avatar-small-width: 64rpx;
    --nutui-avatar-small-height: 64rpx;
    --nutui-avatar-normal-width: 80rpx;
    --nutui-avatar-normal-height: 80rpx;


    // 页面head背景颜色
    --app-page-head-background: #eef2f3;
    // 页面head字体颜色
    --app-page-head-color: #000;
    // 页面背景颜色
    --app-page-background: #eef2f3;
}