:root,
page {
    background: var(--nutui-gray-2);
    --app-background: var(--nutui-gray-2);
    --app-card-background: var(--nutui-color-primary-text);
    --app-radius: var(--nutui-radius-base);
    --app-text-color: var(--nutui-color-text);
    --app-text-color-primary: var(--nutui-color-primary-text);
}